<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>User Profile</title>
  <link rel="stylesheet" href="/home.css" />
</head>
<body>
  <div class="profile-card">
    <h1>Welcome, {{user.name}}!</h1>
    <div class="profile-info">
      <!--<p>Username: {{user.name}}</p>-->
      <p> Logined succfully </p>
      <!-- Add more fields here if needed -->
    </div>
    <a href="/" class="logout">Logout</a>
  </div>
</body>
</html>
